@import "tailwindcss";

@font-face {
    font-family: 'bakh-bold';
    src: url('./fonts/bakh-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bakh-regular';
    src: url('./fonts/bakh-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-bakh-bold {
    font-family: bakh-bold !important;
}

.font-bakh-regular {
    font-family: bakh-regular !important;
}

.animate-fadeIn{
    animation: fadeIn 200ms ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
